html {
    text-align: center;
    background: linear-gradient(#ae707c 0%, #c03fc6 100%);
    background-repeat: no-repeat;
}

img {
    border-radius: 50%;
    width: 100px;
}
.menu{
    list-style: none;
    font-family:cursive;
    float:right;
    top:10px;
    right:30px;
    cursor: pointer;
    color:black;
}
li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
#CONTACT iframe {
    width: 100%;

}